# WWW to non ww redirect and mail redirect. -> delete if not needed
RewriteEngine On
RewriteCond %{HTTP_HOST} ^mail\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

#www to non www redirect
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

#non-www to www redirect redirect
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
</IfModule>

<IfModule mod_headers.c>
    Header always set X-Frame-Options SAMEORIGIN
</IfModule>

<IfModule mod_expires.c>
    # Enable expirations
    #ExpiresActive On
    # Default directive
    #ExpiresDefault "access plus 1 week"
    # My favicon
    #ExpiresByType image/x-icon "access plus 1 year"
    # Images
    #ExpiresByType font/woff2 "access plus 1 year"
    #ExpiresByType font/woff "access plus 1 year"
    #ExpiresByType application/font-woff "access plus 1 year"
    #ExpiresByType application/font-woff2 "access plus 1 year"
    #ExpiresByType image/gif "access plus 1 year"
    #ExpiresByType image/png "access plus 1 year"
    #ExpiresByType image/jpg "access plus 1 year"
    #ExpiresByType image/jpeg "access plus 1 year"
    #ExpiresByType image/svg+xml "access plus 1 year"
    # CSS
    #ExpiresByType text/css "access plus 1 year"
    # Javascript
    #ExpiresByType application/javascript "access plus 1 year"
    #ExpiresByType text/javascript "access plus 1 year"
    #media files
    #ExpiresByType video/mp4 "access plus 1 year"
    #ExpiresByType video/webm "access plus 1 year"

</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^.well-known - [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
