.form-group{
  margin-bottom: 20px;
  .form-control{
    border-radius: 3px;
  }
  textarea{
    min-height:200px;
  }
  &.has-error{
    .form-control{
      background-color: #ffcbcb;
    }
    .input-holder{
      position: relative;
    }
    .error-message{
      position: absolute;
      right: 15px;
      top: 10px;
      font-size:12px;
      pointer-events: none;
    }

  }
}

.btn {
  border: none;
  border-radius: 30px 30px 30px 30px;
  padding: 10px 32px 10px 32px;
  font-size: 15px;
  font-weight: 600;

  &.btn-primary {
    fill: $black;
    color: $black;
    background-color: $highlight;

    &:hover {
      fill: #D78A16;
      background-color: #D78A16;
    }
  }

  &.btn-black{
    background-color:$black;
    color: $white;
    border-radius: 0;
    height: 48px;
  }
}

.newsletter{
  .form-control{
    padding: 14px 20px;
    font-size: 14px;
    border: 2px solid #d2d2d2;
    font-weight: 600;
    height: 48px;
  }
}
