.page-recipe{
  background-color: $bg;
  .bg-white{
    background-color: $white;
  }
  article {
    .lead{
      font-size: 18px;
      margin-top:20px;
      margin-bottom:10px;
    }
    .recipe-date {
      line-height: 24px;
      font-weight: 600;
    }
  }
  aside{
    .section-title{
      font-size:24px;
      font-family: $fontSecondary;
      font-weight: 700;
    }
    .recipe-list {
      .recipe-item-small {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 15px !important;
        padding-bottom: 15px !important;

        a {
          font-family: $fontSecondary;
          font-size: 15px;
          color: $black;
        }

        .post-date {
          font-size: 12px;
          line-height: 12px;
          font-weight: 300;
        }
        &:last-of-type{
          border-bottom: 0;
        }
      }
    }
  }


}

.recipe-item{
  .card-body{
    padding:30px;
  }
  .recipe-image {
    position: relative;
    .post-category {
      top: 32px;
      position: absolute;
      left: 0;
      background: #fcf1ea;
      font-weight: 600;
      font-size: 14px;
      padding: 5px 20px 5px 10px;
      border-radius: 0 50px 50px 0;
    }
  }
  .recipe-title{
    a{
      color: $black;
      font-size: 24px;
      font-family: $fontSecondary;
      font-weight: 600;
    }
  }
  .recipe-lead{
    color: $fontColor;
    margin-bottom: 40px;
  }
}
